* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#html {
  font-family: emoji;
}
#contentRegister,
#contentLogin,
#addsong {
  top: 0;
  position: fixed;
}
.header {
  position: fixed;
  top: 0;
  border-bottom: 2px solid;
  height: max-content;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.header > .head {
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 8% 0px 8%;
  background-color: rgb(58, 50, 50);
}

.header > .head a {
  text-decoration: none;
  text-align: center;
  font-size: 15px;
  color: white;
  font-weight: 400;
  transition: 00.4s;
}

.header > .head a:hover {
  transition: 00.4s;
  color: rgb(59, 211, 39);
  text-decoration: underline 1px;
}
.rightheader {
  display: none;
}
.rightheaderuser {
  display: flex;
  color: white;
  width: 30%;
}
.rightheaderuser h2 {
  font-size: larger;
  font-family: cursive;
  color: antiquewhite;
  padding: 4px;
  width: 60%;
  text-align: center;
}
.rightheaderuser button {
  cursor: pointer;
  border-radius: 22px;
  color: white;
  background-color: rgba(255, 99, 71, 0.863);
  font-weight: bold;
  width: 40%;
}
.header > .head a > img {
  display: block;
  height: 45px;
  border-radius: 50%;
}

.header > .head h3 {
  font-size: 20px;
  text-transform: uppercase;
  color: white;
  margin: 0px 10px 0px 10px;
}

.header > .head > .input {
  width: 50%;
  height: 40px;
  padding-left: 20px;
  margin: 0% 12% 0% 12%;
  font-size: 15px;
  border-radius: 8px 8px 8px 8px;
  font-style: italic;
}
.header > .head > .input > input {
  width: 100%;
  height: 100%;
}
#search {
  cursor: pointer;
  position: fixed;
  font-size: 19px;
  color: white;
  line-height: 40px;
  margin-left: 12px;
}
.header > .foot {
  flex-grow: 1;
  background-color: #325d79;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 8% 0px 8%;
}

.header > .foot > a {
  color: white;
  text-decoration: none;
  font-size: 15px;
  font-family: auto;
  margin: 3% 3% 3% 3%;
  transition: 000.4s;
}

.header > .foot > a:hover {
  transition: 0.4s;
  color: rgba(255, 99, 71, 0.863);
}

.header > .foot > button {
  cursor: pointer;
  margin-left: 5%;
  padding: 0px 20px 0px 20px;
  border-radius: 15px 15px 15px 15px;
  border: rgba(255, 99, 71, 0.863);
  height: 40px;
  background-color: rgba(255, 99, 71, 0.863);
  font-weight: bold;
  color: white;
}
html {
  color: #333;
  font-size: 62.5%;
  font-family: "Open Sans", sans-serif;
}
#main {
  background-color: rgb(233 220 200);
  font-size: 14px;
  color: #fff;
  font-weight: lighter;
}
.main {
  background: rgba(51, 62, 73, 0.7);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  width: 100%;
}
.form {
  width: 360px;
  min-height: 100px;
  padding: 15px 24px;
  text-align: center;
  background: #fff;
  border-radius: 2px;
  margin: 24px;
  align-self: center;
  box-shadow: 0 2px 5px 0 rgba(51, 62, 73, 0.1);
}
.form .fa-times {
  float: right;
  font-size: 14px;
  cursor: pointer;
}
.form .heading {
  clear: both;
  font-size: 2rem;
}
.form .desc {
  text-align: center;
  color: #636d77;
  font-size: 1.6rem;
  font-weight: lighter;
  line-height: 2.4rem;
  margin-top: 16px;
  font-weight: 300;
}

.form-group {
  display: flex;
  margin-bottom: 16px;
  flex-direction: column;
}

.form-label,
.form-message {
  text-align: left;
}

.form-label {
  font-weight: 700;
  padding-bottom: 6px;
  line-height: 1.8rem;
  font-size: 1.4rem;
}

.form-control {
  height: 40px;
  padding: 8px 12px;
  border: 1px solid #b3b3b3;
  border-radius: 3px;
  outline: none;
  font-size: 1.4rem;
}

.form-control:hover {
  border-color: #1dbfaf;
}

.form-group.invalid .form-control {
  border-color: #f33a58;
}

.form-group .form-message.invalid {
  color: #f33a58;
}

.form-message {
  font-size: 1.2rem;
  line-height: 1.6rem;
  padding: 4px 0 0;
}

.form-submit {
  outline: none;
  background-color: rgb(243, 58, 88);
  margin-top: 12px;
  padding: 12px 16px;
  font-weight: 600;
  color: #fff;
  border: none;
  width: 100%;
  font-size: 14px;
  border-radius: 8px;
  cursor: pointer;
}

.spacer {
  margin-top: 20px;
}
.listmusic {
  font-family: emoji;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 50px;
}
.music {
  background-color: cadetblue;
  box-shadow: 0px 0px 10px black;
  border-radius: 20px;
  margin: 20px 20px;
  width: calc(100% / 5);
  height: calc(100vh / 3);
}
.music img {
  border-radius: 20px;
  width: 100%;
  height: 70%;
}
.music h3 {
  padding-top: 3px;
  text-align: center;
  font-weight: unset;
}
.active {
  color: white;
  background-color: rgba(255, 99, 71, 0.863);
}

.control {
  margin: 6px 0 0;
  display: flex;
  justify-content: space-around;
}

.control .btn {
  color: #666;
  padding: 18px;
  font-size: 18px;
}
.control .btn-toggle-play {
  cursor: pointer;
  width: 56px;
  height: 56px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 99, 71, 0.863);
  color: white;
  border-radius: 50%;
  margin-top: auto;
  margin-bottom: auto;
}

.progress {
  width: 70%;
  margin: auto;
  height: 50px;
}
.cdthumb {
  display: flex;
  justify-content: flex-start;
  text-align: center;
  border-right: 1px solid;
  float: left;
  width: 30%;
  height: 100%;
}
.cdthumb img {
  margin: auto 25px;
  width: 25%;
  height: 70%;
  border-radius: 50%;
}
.cdthumb h3 {
  margin: auto 2px;
  font-size: 14px;
  font-weight: lighter;
  font-family: Arial, Helvetica, sans-serif;
}
.repeat {
  color: rgba(255, 99, 71, 0.863);
}
#content {
  padding: 20px 110px;
  margin-top: 100px;
  margin-bottom: 100px;
  min-height: 1000px;
}
.musicplayer {
  color: darkblue;
}
.dashboard {
  background-color: cadetblue;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 269px;
  margin: 10px auto;
  border: 1px solid;
  margin-top: 40px;
  border-radius: 20px;
}
.left {
  height: 80%;
  width: 35%;

  background: url(https://nhac.vn/web-v2/youtube-embed/ifm-3.jpg) no-repeat;
  background-size: cover;
  margin: auto;
  border-radius: 25px;
}
.left img {
  width: 100%;
  height: 100%;
  padding: 30px 15px;
  padding-top: 55px;
}
.right {
  width: 60%;
  text-align: center;
}
.middle {
  display: flex;
  justify-content: space-evenly;
}
.right div {
  padding: 17px;
}
.right .btn-toggle-play {
  background-color: rgba(255, 99, 71, 0.863);
  border-radius: 50%;
}
.right div input {
  width: 100%;
}
.box {
  display: flex;
  width: 70%;
  margin: auto;
  margin-bottom: 40px;
}
.box div {
  margin: 10px;
}
.comment {
  box-shadow: 1px 0px 0px 5px #53535b;
  background-color: white;
  width: 70%;
  margin: auto;
}
.textarea textarea {
  font-size: 15px;
  border: none;
  height: 45px;
  padding: 10px;
  border-bottom: 1px solid;
  width: 100%;
}
#content h1 {
  margin-top: 20px;
}
#content h3 {
  margin-top: 10px;
}
.comment form h3 {
  margin-bottom: 10px;
}
.comment form .btn {
  display: flex;
  justify-content: flex-end;
}
.comment form .btn button {
  margin-top: 10px;
  width: 100px;
  height: 30px;
}
.dashboard .duration {
  display: flex;
}
.listcomment {
  margin: auto;
  background-color: white;
  color: black;
  margin-top: 20px;
}
.listcomment ul {
  overflow: scroll;
  max-height: 350px;
  list-style: none;
}
.listcomment ul li {
  padding: 15px;
  font-size: 15px;
  border-bottom: 1px solid burlywood;
}
textarea:focus {
  outline: none;
}
